.jess-cafe {
  position: absolute;
  width: 500px;
  height: 7.1%;
  right: 9vw;
  bottom: 9vh;
  display: flex;
  align-items: center;
  justify-content: end;
  container-type: inline-size;
  container-name: jess-cafe
}

.container {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

@media only screen and (max-height: 810px) {
  .content {
    transform: scale(0.7);
  }

  .sec-research {
    transform: scale(0.7);
  }

  .jess-cafe {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1000px) and (min-width: 666px) {
  .sec-research {
    font-size: 1.6em;
    bottom: 10.6vh !important;
  }
  .jess-cafe-title {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 1550px) {
  .sec-research {
    font-size: 2em;
  }
  .jess-cafe-title {
    font-size: 2em;
  }
}

.jess-cafe-coffee {
  height: 100%;
  margin-right: 16px;
}

.jess-cafe-title {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.sec-research {
  position: absolute;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  left: 7vw;
  bottom: 9vh;
}

.content {
  position: absolute;
  width: 160px;
  height: 336px;
  left: calc(50% - 160px / 2);
  top: calc(50% - 336px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.link-line {
  margin-right: 53px;
}

.gh-logo {
  width: 98px;
  height: 96px;
}

.mail-icon {
  width: 103px;
  height: 103px;
}

.blog-icon {
  width: 101px;
  height: 101px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 666px) {
  .mobile {
    display: block;
  }

  .top-left-accent:not(.mobile) {
    display: none;
  }

  .bottom-right-accent:not(.mobile) {
    display: none;
  }

  .link-line {
    display: none;
  }

  .top-left-accent {
    width: 85%;
  }

  .bottom-left-accent {
    width: 90%;
  }

  .sec-research {
    position: static;
    width: 279px;
    font-size: 24px;
    margin-top: 8px;
  }

  .jess-cafe {
    position: static;
    justify-content: center;
    width: 100vw;
  }

  .jess-cafe-title {
    font-size: 36px;
  }

  .jess-cafe-coffee {
    width: 52px;
    height: 52px;
  }
}